.btn {
  padding: 2px 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 24px;
  background: #9a2a2a;
  border: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
